{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="home">
    <div class="d-flex flex-column justify-content-center" >
        <h1 class="m-3">Bienvenue sur EASI-DESTI {% if app.user %}{{ app.user.nickname }}{% endif %}</h1>
        <h2 class="mb-5">Formulaire d'inscription</h2>
    </div>

    <div class="row d-flex">
        <div class="col-4 mx-auto justify-content-center p-3 border border-2 border-primary rounded shadow-lg p-3 mb-5 $bg-easy">
            {{ form_start(registrationForm) }}
            <div class="row mb-3">
                    {{ form_row(registrationForm.firstname, {label: 'Prénom :'}) }}
            </div>
            <div class="row mb-3">
                    {{ form_row(registrationForm.lastname, {label: 'Nom :'}) }}
            </div>
            <div class="row mb-3">
                    {{ form_row(registrationForm.schoolLevel, {label: 'Classe :'}) }}
            </div>
            <div class="row mb-3">
                    {{ form_row(registrationForm.school, {label: 'Etablissement :'}) }}
            </div>
            <div class="row mb-3">
                    {{ form_row(registrationForm.nickname, {label: 'Pseudo :'}) }}
            </div>
            <div class="row mb-3">
                    {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe :'}) }}
            </div>

            {{ form_row(registrationForm.agreeTerms) }}
            <button type="submit" class="btn btn-app btn-home-registration-white">Valider</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}