{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="home">
    <div class="d-flex flex-column justify-content-center" >
        <a class="text-decoration-none" href="{{ path('home') }}"><h1 class="m-3">Bienvenue sur EASI-DESTI {% if app.user %}{{ app.user.nickname }}{% endif %}</h1></a>
        <h2 class="mb-5">Formulaire d'inscription</h2>
    </div>

    <div class="row d-flex">
        <div class="form col-11 col-sm-9 col-md-7 col-lg-5 mx-auto justify-content-center p-3 border border-2 border-primary shadow-lg p-3 mb-5">
            {{ form_start(registrationForm) }}
            <div class="row">
                    {{ form_row(registrationForm.firstname, {label: 'Prénom :'}) }}
            </div>
            <div class="row">
                    {{ form_row(registrationForm.lastname, {label: 'Nom :'}) }}
            </div>
            <div class="row">
                    {{ form_row(registrationForm.schoolLevel, {label: 'Classe :'}) }}
            </div>
            <div class="row">
                    {{ form_row(registrationForm.school, {label: 'Etablissement :'}) }}
            </div>
            <div class="row">
                    {{ form_row(registrationForm.nickname, {label: 'Pseudo :'}) }}
            </div>
            <div class="row">
                    {{ form_row(registrationForm.plainPassword, {label: 'Mot de passe :'}) }}
            </div>
            <button type="submit" class="btn bg-secondary border border-primary btn-lg m-3">Valider</button>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}