{% extends 'admin/base_admin.html.twig' %}

{% block title %}Elèves{% endblock %}

{% block body %}
    {% include 'admin/admin_component/_nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1>liste des élèves </h1>
                <div class="list-group">
                    {% for student in students %}
                        <div>
                            <p>
                                {{ student.firstname }} {{ student.lastname }} - {{ student.schoolLevel }} - {{ student.school }} -
                                <a href="{{path('admin_student_result_show', {'nickname': student.nickname}) }}">Ses résultats</a>
                            </p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}