{% extends 'admin/base_admin.html.twig' %}

{% block title %}Résultats élève{% endblock %}

{% block body %}
    {% include 'admin/admin_component/_nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1 class="my-5">Résultat de l'élève {{ student.firstname }} {{ student.lastname }}</h1>
                <h2 class="text-center text-light bg-dark my-3">Test(s) de positionnement</h2>
                    {% for training in student.trainings %}
                        <div class="d-flex justify-content-between">
                            <h5 class="my-2 border-1 fs-3"> Test n° {{ loop.index }}</h5>
                            <p class="d-flex align-items-end">effectué le {{ training.createdAt|date('d-m-Y à h:i') }}</p>
                        </div>
                    <div class="d-flex flex-row">
                        <div class="col-6">
                            {% if training.step > 0 %}
                                <div class="progress w-75 my-2 h-25 fs-5">
                                    <div class="progress-bar bg-success" role="progressbar" style="width:{{ (((training.step - training.errorCount) * 100) / training.step)|round }}%" aria-valuenow="{{ (((training.step - training.errorCount) * 100) / training.step)|round }}" aria-valuemin="0" aria-valuemax="100">{{ (((training.step - training.errorCount) * 100) / training.step)|round }}% de réussite</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ ((training.errorCount * 100) / training.step)|round }}%" aria-valuenow="{{ ((training.errorCount * 100) / training.step)|round }}" aria-valuemin="0" aria-valuemax="100">{{ ((training.errorCount * 100) / training.step)|round }}%</div>
                                </div>
                                <div class="progress w-75 h-25 fs-5">
                                    <div class="progress-bar bg-success" role="progressbar" style="width:{{ (((training.step - training.errorCount) * 100) / training.step)|round }}%" aria-valuenow="{{ (((training.step - training.errorCount) * 100) / training.step)|round }}" aria-valuemin="0" aria-valuemax="100">{{ training.step - training.errorCount }} bonnes réponses / {{ training.step }}</div>
                                    <div class="progress-bar bg-danger" role="progressbar" style="width: {{ ((training.errorCount * 100) / training.step)|round }}%" aria-valuenow="{{ ((training.errorCount * 100) / training.step)|round }}" aria-valuemin="0" aria-valuemax="100">{{ training.errorCount }}</div>
                                </div>
                            {% endif %}
                        </div>
                        <div class="col-9">
                            <table class="table border border-warning w-50">
                                {% for letter, value in training.countLetterErrors %}
                                    <tr>
                                        <th class="border border-warning text-center" scope="col">Lettre <span class="text-warning">{{ letter }}</span></th>
                                        <td> <span class="text-danger fw-bold">{{ value }} </span> faute{{ value > 1 ? 's' : '' }}</td>
                                        <td> <span class="text-danger fw-bold">{{ ((value * 100) / 120)|round }}</span> % de mauvaises réponses</td>
                                    </tr>
                                {% endfor %}
                                </table>
                        </div>
                    </div>
                    {% endfor %}
                <h2 class="text-center text-light bg-dark my-3">Partie EASI</h2>
                <h5 class="my-2 border-1 fs-3">Entraînement</h5>
                {% if student.showScoreTotal != null %}
                <div class="progress w-50 my-2  fs-5">
                    <div class="progress-bar bg-success" role="progressbar" style="width:{{ student.showScoreTotal }}%" aria-valuenow="{{ student.showScoreTotal }}" aria-valuemin="0" aria-valuemax="100">{{ student.showScoreTotal }}% de réussite</div>
                    <div class="progress-bar bg-danger" role="progressbar" style="width:{{ 100 - student.showScoreTotal }}%" aria-valuenow="{{ 100 - student.showScoreTotal }}" aria-valuemin="0" aria-valuemax="100">{{ 100 - student.showScoreTotal }}% d'échec</div>
                </div>
                <ul class="list-group fs-5">
                    {% for helpNumber, value in student.showHelpStatsForAllGames %}
                        <li class="list-group-item">L'aide <span class="text-warning fw-bold">{{ helpNumber }}</span> a été utilisée <span class="text-danger fw-bold">{{ value }}</span> fois sur l'ensemble du jeu.</li>
                    {% endfor %}
                </ul>
                <p></p>
                <h5 class="my-2 border-1 fs-3">Séries</h5>
                <ul class="list-group">
                    {% for game in student.games %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Pour la série n° <span class="fs-5 text-info">{{ game.serie.number }} </span>de la lettre <span class="fs-5 text-warning">{{ game.serie.letter.content }}</span></span></span>
                            <span>Score de <span class="text-success fw-bold">{{ game.score }}</span> sur {{ game.objectifPoint }}</span>
                            <span>{{ game.errorCount }} erreur{{ game.errorCount > 1 ? 's' : '' }}</span>
                            <span class=""><span class="text-warning fs-5">{{ game.helpCount == 0 ? 'Aucun ' : game.helpCount }}</span> recours aux aides</span>
                            <span> effectuée le {{ game.dateGame }}</span>
                        </li>
                        {% if game.countHelpsByWord  %}
                        <table class="table w-50 mt-2">
                            <tr class="mt-3">
                                <th>Mots avec recours aux aides</th>
                                <th>Aides utilisées</th>
                            </tr>
                            {% for datas in game.countHelpsByWord %}
                                <tr>
                                    <td class="text-danger fw-bold">{{ datas.word }}</td>
                                    <td>Aide n° <span class="text-warning fw-bold">{{ datas.helpNumber }}</span></td>
                                    <td><span></span></td>
                                </tr>
                            {% endfor %}
                        </table>
                        {% endif %}

                    {% endfor %}
                </ul>
                {% else %}
                    <h5 class="my-2 border-1">Aucun entraînement effectué</h5>
                {% endif %}
            </div>
        </div>
    </div>

{% endblock %}
