{% extends 'admin/base_admin.html.twig' %}

{% block title %}Résultats élève{% endblock %}

{% block body %}
    {% include 'admin/admin_component/_nav.html.twig' %}
    <div class="container">
        <div class="row">
            <div class="col-12 mt-5">
                <h1>Résultat de l'élève {{ student.firstname }} {{ student.lastname }}</h1>
                <h2>L'élève suit actuellement la partie EASI</h2>
                <ul class="list-group">
                    {% for game in student.games %}
                        <li class="list-group-item d-flex justify-content-between">
                            <span>Pour la série n° <span>{{ game.serie.number }} de la lettre {{ game.serie.letter.content }}</span></span>
                            <span>Score de {{ game.score }} sur {{ game.objectifPoint }}</span>
                            <span> Fait le {{ game.dateGame }}</span>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
{% endblock %}
