{% extends 'admin/base_admin.html.twig' %}
{% block javascripts %}
    {{ parent() }}
    {{ encore_entry_script_tags('edit_word') }}
    {{ encore_entry_script_tags('definition') }}
{% endblock %}
{% block content %}
    <div class="container-fluid">
        <h1 class="text-center pt-5">{{ word.content }}</h1>
        <div id="form" class="col-10 col-sm-8 col-lg-5 mx-auto">
            {{ form_start(form) }}
            <div id="block-hidden"
                 data-edit="true"
                 data-position="{{ position }}"
                 data-letter="{{ letter }}"
                 data-endpoints="{{ endpoints|join(',') }}"
                 data-muteletters="{{ muteLetters|join(',') }}"
                 data-url="{{ url }}">
            </div>
            {{ form_row(form.content) }}
            <div>Selectionnez la lettre à travailler</div>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div id="study-letter" class="rounded-3 fs-2 text-dark ps-2 col-11 "></div>
            </div>
            <div>Selectionnez la fin de la syllabe</div>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div id="endpoint" class="rounded-3 fs-2 text-dark ps-2 col-11 "></div>
            </div>
            <div>Selectionnez la(les) lettre(s) muette(s)</div>
            <div class="d-flex flex-row justify-content-between align-items-center">
                <div id="mute-letter" class="rounded-3 fs-2 text-dark ps-2 col-11 "></div>
            </div>
            {{ form_row(form.definition) }}
            {{ form_row(form.pronunciation) }}
            <div class="d-flex justify-content-between">
                {{ form_row(form.imageFile) }}
                {% if vich_uploader_asset(word, 'imageFile') %}
                    <img class="mb-5 w-25" src="{{ vich_uploader_asset(word, 'imageFile') }}" alt="{{ word.content }}">
                {% endif %}
            </div>
            {{ form_row(form.serie) }}
            <div class="d-flex justify-content-around col-auto my-4">
                <button class="btn-app btn bg-light mx-auto px-5 py-2 fs-4">Modifier le mot</button>
                <a class="btn-app btn bg-light mx-auto px5 py-2 fs-4" href="{{ path('word_delete', {id: word.id}) }}" onclick="return confirm('Êtes-vous sûr de vouloir supprimer ce mot?')">Supprimer le mot</a>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
