{% extends 'admin/base_admin.html.twig' %}

{% block title %}Admin{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h1>Résultat de votre recherche</h1>
                <a class="btn btn-primary mb-3" href="{{ path('admin_series') }}">Retour aux séries</a>
                <div class="list-group">
                    {% for word in words %}
                        <a href="{{ path('word_edit', {word: word.id}) }}" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center">
                            <div>
                            {{ word.content }}
                            </div>
                            <div>
                                {% if word.serie %}
                                    Lettre <span class="fw-bolder">{{ word.serie.letter.content|upper }}</span> - <span>Niveau {% for i in 1..word.serie.level %} <i class="text-warning fas fa-star"></i>{% endfor %}</span>
                                    Série N° {{ word.serie.number }}
                                {%endif%}
                            </div>
                            {% include('admin/admin_component/_word_status.html.twig') %}
                        </a>
                    {% else %}
                        Il n'y a aucun résultat pour votre recherche, essayez avec un autre mot
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
