<div class="d-flex justify-content-center">
    <div class="col-6 d-flex flex-column align-items-center">
        <div class="row d-flex justify-content-center text-center my-3">
            <img src="{{ asset('build/images/emoji_error.png') }}" class="emoji my-3" alt="error">
            {# fichier son lecture automatique #}
            <h1>Dommage</h1>
            <p>Ce n'est pas la bonne réponse. Tu ne marques pas de point cette fois-ci !</p>
        </div>
        <div class="row d-flex justify-content-center text-center my-3">
            <h2>Voici la correction</h2>
            <h3>{{ word.content }}</h3>
            <img src="{{ asset("build/images/" ~ word.pronunciation.picture) }}" class="w-50" alt="{{ word.content }}">
        </div>
    </div>
</div>"
<div class="d-flex justify-content-center align-text-bottom my-5">
    <a href="{{ path('game_play', {id: game.id}) }}">
        <div class="next btn btn-app bg-secondary p-2 fs-2">Suivant<i class="fas fa-arrow-right mx-3"></i></div>
    </a>
</div>