<div class="btn-app score text-center ms-5 mt-5 p-2 fs-5">
    <div class="mb-3">
        score : {{ game.score }}
    </div>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width:{{ game.rateInProgress }}%;"
             aria-valuenow="{{ game.rateInProgress }}" aria-valuemin="0" aria-valuemax="100">
            {{ game.rateInProgress }}%
        </div>
    </div>
    <div class="mt-3">
        Mot {{ game.step + 1 }} / {{ game.wordCount }}
    </div>
</div>