<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">EASI-DESTI</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="#">Accueil</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathInfo == path('admin_series') ? 'active' : '' }}" href="{{ path('admin_series') }}">Liste des séries</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link " href="#">Statistiques</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link {{ app.request.pathInfo == path('word_new') ? 'active' : '' }}" href="{{ path('word_new') }}">Créer un nouveau mot</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link">Créer un compte enseignant</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link  {{ app.request.pathInfo == path('word_new') ? 'active' : '' }}" href="{{ path('admin_select_school') }}">Créer un compte enfant</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle {{ app.request.pathInfo == path('admin_show_school') ? 'active' : '' }}" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Gestion des établissement
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                        <li><a class="dropdown-item" href="{{ path('admin_new_school') }}">Création d'une école</a></li>
                        <li><a class="dropdown-item" href="{{ path('admin_show_school') }}">Modification d'une école</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="{{ path('admin_new_school_level') }}">Création d'une classe</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>